<main class="shop-wrapper">
  <div class="tool-bar">
    <div class="mat-form-field-imp">
      <button
        mat-raised-button
        [mat-menu-trigger-for]="categoriesMenu"
        class="drop-down-button"
      >
        <mat-icon class="icon">menu</mat-icon>
        Categories
        <mat-icon class="icon">arrow_drop_down</mat-icon>
      </button>

      <mat-form-field appearance="outline" color="accent" class="mff">
        <mat-label></mat-label>
        <input type="text" matInput />

        <button matSuffix mat-icon-button aria-label="Clear">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>

      <mat-menu #categoriesMenu>
        <button
          mat-menu-item
          *ngFor="let category of categoryList"
          (click)="navigateTo(category.web_category_id)"
        >
          {{ category.web_category_name }}
        </button>
      </mat-menu>
    </div>

    <nav mat-tab-nav-bar color="accent" class="tabs">
      <a
        mat-tab-link
        class="tab"
        [class.active]="activeIndex === 0 ? true : false"
        [active]="activeIndex === 0"
        routerLink="/shop"
        >Home</a
      >
      <a
        mat-tab-link
        class="tab"
        [class.active]="activeIndex === 1 ? true : false"
        [active]="activeIndex === 1"
        routerLink="/shop/new-arrivals"
        >New Arrivals</a
      >
      <a
        mat-tab-link
        class="tab"
        [class.active]="activeIndex === 2 ? true : false"
        [active]="activeIndex === 2"
        routerLink="/shop/trending"
        >Trending</a
      >
      <a
        mat-tab-link
        class="tab"
        [class.active]="activeIndex === 3 ? true : false"
        [active]="activeIndex === 3"
        routerLink="/shop/deals"
        >Deals For You</a
      >
    </nav>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</main>
