<div class="order-view-page">

    <div class="order-view-page-container">
        <div class="header"></div>

        <main>
            <div class="history">
                <h3>History</h3>
                <ul>
                    <li>
                        <div class="l">
                            <img src="assets/images/blue-circle-timeline.png" class="circle">
                            <img src="assets/images/placeholder.svg" class="line">
                        </div>
                        <div class="r">
                            <p class="title">State 1</p>
                            <p class="detail">Today</p>
                        </div>
                    </li>
                    <li>
                        <div class="l">
                            <img src="assets/images/blue-circle-timeline.png" class="circle">
                            <img src="assets/images/placeholder.svg" class="line">
                        </div>
                        <div class="r">
                            <p class="title">State 1</p>
                            <p class="detail">Today</p>
                        </div>
                    </li>
                    <li>
                        <div class="l">
                            <img src="assets/images/blue-circle-timeline.png" class="circle">
                            <img src="assets/images/placeholder.svg" class="line">
                        </div>
                        <div class="r">
                            <p class="title">State 1</p>
                            <p class="detail">Today</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="items">
                <h3>Items</h3>

                <div class="item-listing"></div>

                <div class="totals">
                    <div>
                        <p>Subtotal</p>
                        <p>TL 1500</p>
                    </div>
                    <div>
                        <p>PPN(10%)</p>
                        <p>TL 1500</p>
                    </div>
                    <div>
                        <p>Total</p>
                        <p>TL 1500</p>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>