<div class="order-view-page">

    <div class="order-view-page-container">
        <div class="header"></div>

        <main>
            <div class="history">
                <h3>History</h3>
                <ul>
                    <li *ngFor="let historyItem of history">
                        <div class="l">
                            <img src="assets/images/blue-circle-timeline.png" class="circle">
                            <img src="assets/images/placeholder.svg" class="line">
                        </div>
                        <div class="r">
                            <p class="title">{{historyItem.title}}</p>
                            <p class="detail">{{formatDate(historyItem.date)}}</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="items">
                <h3>Items</h3>

                <div class="item-listing">
                    <div class="list-item" *ngFor="let item of products">

                        <div class="l">
                            <img src="assets/images/banner-img.png" alt="">
                        </div>

                        <div class="r">
                            <div class="top">
                                <h5>PRODUCT</h5>
                                <p>{{item.web_product_name}}</p>
                            </div>
                            <div class="pricing-section">
                                <span class="quantity">x2</span>
                                <span class="price">TL {{item.web_order_product_price}}</span>
                                <span class="total">TL {{item.web_order_product_price}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="totals">
                    <div>
                        <p>Subtotal</p>
                        <p>TL 1500</p>
                    </div>
                    <div>
                        <p>PPN(10%)</p>
                        <p>TL 1500</p>
                    </div>
                    <div>
                        <p>Total</p>
                        <p>TL 1500</p>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>