@import 'src/styles/styles.scss';

.side-nav{
    @include init-flex(column, center, center);
    background-color: white;
    width: 130px;
    height: 100%;
    padding-top: 100px;
    box-sizing: border-box;
    position: relative;

    .tool-container{
        width: 100%;

        @include init-flex(column, center, center);

        .tool{
            width: 100%;
            height: 60px;
            border-radius: 0px;
            @include init-flex(column);

            &.active{
                background-color: rgba($color-secondary, .10);
            }

            img{
                width: 20px;
            }

            p{
                margin: 0px;
                font-family: $font-base;
                color: $color-primary;
                font-size: 12px;
                line-height: 1rem;
            }
        }
    }

    .shapes-box{
        position: absolute;
        left: -200%;
        background-color: white;
        padding: 20px;
        box-shadow: 1px 2px 6px rgba(0,0,0,.28);
        transition: all 300ms ease-in-out;
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 15px;
        row-gap: 15px;

        &.active{
            left: 100%;
        }

        .shape{
            padding: 10px;
            max-height: 50px;
            box-sizing: border-box;

            &.active{
                background-color: $color-primary;
            }

            &:hover{
                background-color: $color-primary;
                cursor: pointer;
            }

            img{
                width: 30px;
                height: 30px;
            }
        }
    }
}