$font-base: Poppins;
$font-medium: Poppins-medium;
$font-bold: Poppins-bold;
$font-black: Poppins-black;
$font-thin: Poppins-thin;
$font-light: Poppins-light;
$font-italic: Poppins-italic;
$font-semibold: Poppins-semibold;

//colors
$color-primary: #000080;
$color-primary-faded: #000040;
$color-primary-disabled: #0000405b;
$color-primary-light: #1921FA;
$color-secondary: #FF5E00;
$color-secondary-faded: #ff5e0050;
$color-white: #FFFFFF;

$text-color: #3B3A3A;
$text-color2: #565656;


$light-grey: #F6F6F6;
$light-grey2: #EEEEEE;
$light-grey3: #F8F8F8;