<footer class="main-layout-footer">

    <div class="news-subscription-container d-sm">
        <p>Sign up for special offers!</p>
        <div class="input-wrapper">
            <input mat-input placeholder="Mail"/> <button mat-button class="btn">Subscribe</button>
        </div>
    </div>

     <div class="lists">
         <div class="links">
             <p class="title">Useful Links</p>
             <ul>
                 <li>
                     <a routerLink="/terms-of-use">Terms of use</a>
                 </li>
                 <li>
                     <a routerLink="/privacy-policy">Privacy Policy</a>
                 </li>
                 <li>
                     <a routerLink="/projects">Featured Projects</a>
                 </li>
                 <li>
                     <a routerLink="/contact">Contact Us</a>
                 </li>
                 <li>
                     <a routerLink="/shop">Shop</a>
                 </li>
                 <li>
                     <a routerLink="/about">About</a>
                 </li>
             </ul>
         </div>

         <div class="addresses">
             <div class="l">
                 <p class="title">Turkey Istanbul - Bashakshehir</p>
                 <p>492134 - Fatih</p>
                 <p>05 33 234 22 11</p>
             </div>
             <div class="l">
                 <p class="title">Turkey Istanbul - Bashakshehir</p>
                 <p>492134 - Fatih</p>
                 <p>05 33 234 22 11</p>
             </div>
         </div>
     </div>

     <img src="assets/images/full-logo.png" alt="devnasour logo" class="d-md" />

     <div class="news-subscription-container d-md">
         <p>Sign up for special offers!</p>
         <div class="input-wrapper">
             <input mat-input placeholder="Mail"/> <button mat-button class="btn">Subscribe</button>
         </div>
     </div>

     <img src="assets/images/full-logo.png" alt="devnasour logo" class="d-sm" />


    </footer>
