@import 'src/styles/styles.scss';

.shop-listing-home{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    min-height: 100vh;
    padding: 20px;
    @include init-flex(row, start, start);
    flex-wrap: wrap;

    section.banner-wrapper{
        // height: 50px;
        width: 100%;
        margin-bottom: 20px;
        
        .swiper-wrapper{
            width: 100%;
            margin: 50px 0;

            a{
                width: 100%;
                img{
                    width: 100%;
                }
            }
        }

        .section-title{
            margin-left: 210px;
            position: relative;
            width: auto;
            color: $color-primary;
            font-size: 22px;
            font-family: $font-bold;

            &::after{
                content: "";
                border-bottom: 1px solid $color-secondary;
                height: 1px;
                width: 20%;
                position: absolute;
                bottom: -10px;
                left: 0;
                max-width: 100px;
            }
        }
    }

    aside{
        width: 190px;
        height: 100%;
        @include init-flex(column, start, start);
        border: 1px solid black;
        margin-right: 20px;
        border-radius: 5px;
        overflow: hidden;
        
        .list-header{
            @include init-flex(row, start);
            background-color: #F8F8F8;
            padding: 10px;
            .icon{
                font-size: 24px;
            }

            h1{
                font-size: 16px;
                font-family: $font-base;
                margin: 0;
                margin-left: 10px;
            }
        }

        ul{
            padding: 0;
            width: 100%;
            list-style: none;

            li{
                width: 100%;
                @include init-flex(row, space-between);
                font-family: $font-base;
                margin: 10px 0;
                box-sizing: border-box;
                padding: 0 15px;
                cursor: pointer;

                p{
                    margin: 0;
                    font-family: $font-base;
                    font-size: 14px;
                    position: relative;
                    user-select: none;

                    .circle{
                        width: 10px;
                        height: 10px;
                        border: 1px solid black;
                        border-radius: 50%;
                        display: inline-block;
                        margin-right: 5px;
                    }

                    .new{
                        position: absolute;
                        left: 105%;
                        top: 0px;
                        background-color: $color-secondary;
                        padding: 0px 7px;
                        color: white;
                        font-size: 10px;
                        text-transform: capitalize;
                    }
                }

                
            }
        }
    }

    .content{
        width: calc(100% - 220px);

        .recommended-list{
            // display: grid;
            // grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
            // row-gap: 20px;
            // column-gap: 20px;
            // justify-items: start;
            // align-content: start;
            // padding-bottom: 50px;
            display: flex;
            // flex-basis: calc(20%);
            // margin: 5px;
            box-sizing: border-box;
            flex-wrap: wrap;
    
    
            .list-item{
                margin: 15px;
                box-sizing: border-box;
                width: calc(19% - 15px);
                background-color: white;
                box-shadow: 1px 2px 6px rgba(0, 0, 0, .18);
                cursor: pointer;
                user-select: none;
    
                img{
                    width: 100%;
                    // height: 30px;
                    height: 60%;
                    object-fit: cover;
                    min-height: 180px;
                }
    
                .bottom{
                    margin-bottom: 5px;
                    .rating{
                        width: 100%;
                        
                        &>*{
                            font-size: 5px !important;
                            display: flex;
                            // flex-direction: column;
                        }
        
                        ::ng-deep .mat-icon-button{
                            width: 30px;
                            height: 30px;
                            text-align: center;
                        }
        
                        ::ng-deep .mat-icon{
                            font-size: 15px;
                        }
                    }
                    
                    .name{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        padding: 10px;
                        
                        h1{
                            margin: 0;
                            font-size: 14px;
                            font-family: $font-bold;
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }

        .list-section{
            
            .section-title{
                // margin-left: 210px;
                position: relative;
                width: auto;
                color: $color-primary;
                font-size: 22px;
                font-family: $font-bold;
                margin-bottom: 35px;
    
                &::after{
                    content: "";
                    border-bottom: 1px solid $color-secondary;
                    height: 1px;
                    width: 20%;
                    position: absolute;
                    bottom: -10px;
                    left: 0;
                    max-width: 100px;
                }
            }
            .product-list{
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
                row-gap: 20px;
                column-gap: 20px;
                justify-items: start;
                align-content: start;
                padding-bottom: 50px;
        
        
                .list-item{
                    background-color: white;
                    box-shadow: 1px 2px 6px rgba(0, 0, 0, .18);
        
                    img{
                        width: 100%;
                        // height: 30px;
                        height: 60%;
                        object-fit: cover;
                        min-height: 180px;
                    }
        
                    .bottom{
                        margin-bottom: 30px;
                        .rating{
                            width: 100%;
                            
                            &>*{
                                font-size: 5px !important;
                                display: flex;
                                // flex-direction: column;
                            }
            
                            ::ng-deep .mat-icon-button{
                                width: 30px;
                                height: 30px;
                                text-align: center;
                            }
            
                            ::ng-deep .mat-icon{
                                font-size: 15px;
                            }
                        }
                        
                        .name{
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: center;
                            padding: 10px;
        
                            h1{
                                margin: 0;
                                font-size: 12px;
                                font-family: $font-base;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 700px){
    .shop-listing-home{

        section.banner-wrapper{
            .section-title{
                margin-left: 0;
            }
        }

        aside{
            display: none;
        }

        .content{
            width: 100%;
        }
    }
}