<div class="orders-page">
    <div class="orders-page-container">
        <div class="header">
            <div class="tabs">
                <button mat-flat-button [class.active]="statusFilter === 'all'" (click)="onFilterChange('all')">All Status</button>
                <button mat-flat-button [class.active]="statusFilter === 'on_the_way'" (click)="onFilterChange('on_the_way')">On Delivery</button>
                <button mat-flat-button [class.active]="statusFilter === 'delivered'" (click)="onFilterChange('delivered')">Delivered</button>
                <button mat-flat-button [class.active]="statusFilter === 'canceled'" (click)="onFilterChange('canceled')">Canceled</button>
            </div>
            <div class="actions">
              <mat-form-field appearance="outline">
                <mat-label>Search</mat-label>
                <input matInput type="text" [(ngModel)]="textFilter" (keyup)="handleFilterKeyUp($event)">
                <button *ngIf="textFilter" matSuffix mat-icon-button aria-label="Clear" (click)="handleClearFilter()">
                  <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>
            </div>
        </div>
    
        <main>
            <div class="table-container">
                <div class="loading-options">
                  test
                </div>
                <table mat-table [dataSource]="dataSource" class="table">
    
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef> Order ID </th>
                      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="date">
                      <th mat-header-cell *matHeaderCellDef> Date </th>
                      <td mat-cell *matCellDef="let element"> {{formatDate(element.date)}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="location">
                      <th mat-header-cell *matHeaderCellDef> Location </th>
                      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="amount">
                      <th mat-header-cell *matHeaderCellDef> Amount </th>
                      <td mat-cell *matCellDef="let element"> TL. {{element.total}} </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef> Status </th>
                      <td mat-cell *matCellDef="let element">
                        <span [classList]="element.status + ' ' + 'status-pill'">{{getStatusName(element.status)}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef> Actions </th>
                      <td mat-cell *matCellDef="let element">
                        <button *ngIf="element.status === 'on_the_way'" mat-flat-button class="order-action-button">Track</button>
                        <button mat-flat-button class="order-action-button">View Details</button>
                        <button *ngIf="element.status !=='delivered' && element.status !== 'canceled'" mat-flat-button class="order-action-button canceled">Cancel</button>
                      </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="6" *ngIf="processing">loading...</td>
                    </tr>
                  </table>
                
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                 showFirstLastButtons
                                  [pageIndex]="currentPage"
                                  [pageSize]="itemsPerPage"
                                  [length]="totalRows"
                                  (page)="getNextPage($event)"
                                 aria-label="Select page of periodic elements">
                  </mat-paginator>
            </div>
        </main>
    </div>
</div>