@import "src/styles/styles.scss";

.orders-page{
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    .orders-page-container{
        width: 100%;
        max-width: 1080px;
        box-sizing: border-box;
        padding: 20px;

        .header{
            margin-bottom: 25px;
            width: 100%;

            .tabs{
                button{
                    border-radius: 0 !important;
                    color: #6E6E6E;
                    border-bottom: 2px solid #D4D4D4;
                    background-color: none;
                    background: none;
                    transition: all 300ms ease-in-out;

                    &.active{
                        color: #1921FA;
                        border-bottom-color: #1921FA;
                    }
                }
            }
        }

        main{

            .table-container{
                background-color: white;
                border-radius: 10px;
                overflow: hidden;
                position: relative;

                .loading-options{
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #6E6E6E;
                    display: none;
                }

                .table{
                    width: 100%;
                }
            }
        }
    }
}