<mat-drawer-container class="example-container">
<mat-drawer mode="side" (closed)="onSidenavClose()" [opened]="sidenavOpen" position="left" [position]="'start'" class="drawer"> 
    <div class="sidenav-actions">
        <div class="logo-container">
            <img src="assets/images/logo-full.png" alt="">
        </div>

        <ul class="link-list">
            <li class="link-list-item">
                <a mat-flat-button [routerLink]="['/user/']" routerLinkActive="active">
                    <mat-icon class="icon">home</mat-icon>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="link-list-item">
                <a mat-flat-button [routerLink]="['/user/orders']" routerLinkActive="active">
                    <mat-icon class="icon">mark_chat_unread_icon_alt</mat-icon>
                    <span>Orders</span>
                </a>
            </li>
            <li class="link-list-item">
                <a mat-flat-button [routerLink]="['/user/downloads']" routerLinkActive="active">
                    <mat-icon class="icon">list</mat-icon>
                    <span>Downloads</span>
                </a>
            </li>
            <li class="link-list-item">
                <a mat-flat-button [routerLink]="['/tracking']" routerLinkActive="active">
                    <mat-icon class="icon">group_add</mat-icon>
                    <span>Tracking</span>
                </a>
            </li>
            <li class="link-list-item">
                <a mat-flat-button [routerLink]="['/shipping']" routerLinkActive="active">
                    <mat-icon class="icon"> my_location</mat-icon>
                    <span>Shipping</span>
                </a>
            </li>
            <li class="link-list-item">
                <a mat-flat-button [routerLink]="['/addresses']" routerLinkActive="active">
                    <mat-icon class="icon"> my_location</mat-icon>
                    <span>User Address</span>
                </a>
            </li>
        </ul>
    </div>
</mat-drawer>
<mat-drawer-content>
    
    <user-top-nav></user-top-nav>
    <div class="page-content-wrapper">
        <router-outlet></router-outlet>
        <!-- <main-footer></main-footer> -->
    </div>

</mat-drawer-content>
</mat-drawer-container>