@charset "utf-8";
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import './abstracts/_abstracts-dir';

@import './components/_components-dir';

@import './layouts/_layouts-dir';

@import './pages/_pages-dirs';

html,body{
    margin: 0;
    width: 100%;
    height: 100%;
}
