@import "src/styles/styles.scss";

.page-about{
    min-height: 100vh;
    padding-top: 100px;
    padding-left: 150px;
    box-sizing: border-box;

    .packaging-1{
        box-sizing: border-box;
        width: 100%;
        position: relative;
        margin-bottom: 50px;

        .title{
            @include init-flex(column, flex-start, flex-start);
            width: 300px;
            margin-bottom: 50px;
            h1{
                margin: 0;
                color: $color-primary;
                font-family: $font-bold;
                font-size: 28px;
            }

            hr{
                width: 150px;
                margin: 20px 0;
                border-top: none;
                border-color: $color-secondary;
                border-width: 2px;
            }

            p{
                margin: 0;
                color: $color-primary;
                font-family: $font-base;
                font-size: 12px;
            }
        }


        .hovering-packaging{
            position: absolute;
            background-color: white;
            z-index: 5;
            width: 350px;
            // height: 250px;
            box-sizing: border-box;
            right: 10%;
            top: 0;
            box-shadow: 1px 2px 6px rgba(black, .2);
            border-radius: 10px;
            padding: 25px 35px;

            h2{
                color: $color-secondary;
                margin: 0 0 10px 0;
                font-size: 16px;
                font-family: $font-bold;
            }

            p{
                font-size: 12px;
                color: $color-primary;
                font-family: $font-base;
            }
        }

        .swiper-slide{
            
                img{
                    height: 22vw;
                    width: 22vw;
                    object-fit: cover;
                }
            
        }
    }

    .our-story{
        width: 100%;
        box-sizing: border-box;
        position: relative;
        margin-bottom: 50px;

        .title{
            width: 50%;
            margin-bottom: 25px;
            h2{
                font-family: $font-medium;
                font-size: 16px;
                margin: 5px 0;
                color: $color-secondary
            }

            h1{
                margin: 10px 0;
                color: $color-primary;
                font-family: $font-bold;
                font-size: 28px;
            }

            p{
                margin: 10px 0;
                color: $color-primary;
                font-family: $font-base;
                font-size: 12px;
            }
        }

        .floating{
            position: absolute;
            background-color: white;
            z-index: 5;
            width: 350px;
            // height: 250px;
            box-sizing: border-box;
            right: 10%;
            top: 40%;
            box-shadow: 1px 2px 6px rgba(black, .2);
            border-radius: 10px;
            padding: 25px 35px;

            h2{
                color: $color-secondary;
                margin: 0 0 10px 0;
                font-size: 16px;
                font-family: $font-bold;
            }

            p{
                font-size: 12px;
                color: $color-primary;
                font-family: $font-base;
            }
        }

        .display{
            width: 80%;
            height: 35vw;
        }
    }

    .offices{
        width: 100%;
        margin-bottom: 50px;
        // padding-bottom: 100px;

        .title{
            width: 50%;
            margin-bottom: 25px;
            h2{
                font-family: $font-medium;
                font-size: 16px;
                margin: 5px 0;
                color: $color-secondary
            }

            h1{
                margin: 10px 0;
                color: $color-primary;
                font-family: $font-bold;
                font-size: 28px;
            }

            p{
                margin: 10px 0;
                color: $color-primary;
                font-family: $font-base;
                font-size: 12px;
            }
        }

        .swiper-slide{
            position: relative;
            height: 100%;
            height: 450px;
            // overflow-y: visible;
            // width: 20px;
            // width: 30% !important;
            padding-bottom: 50px;

            .inner-wrapper{
                position: relative;
            }
            
            &-active{
                z-index:600000 !important;
                overflow: visible !important;
            }
            // width: 80%;

            .floating{
                position: absolute;
                background-color: white;
                z-index: 600000;
                width: 350px;
                // height: 250px;
                box-sizing: border-box;
                right: -10%;
                // bottom: -25px;
                top: 70%;
                box-shadow: 1px 2px 6px rgba(black, .2);
                border-radius: 10px;
                padding: 25px 35px;
    
                h1{
                    color: $color-secondary;
                    margin: 0 0 10px 0;
                    font-size: 21px;
                    font-family: $font-bold;
                }
    
                p{
                    font-size: 12px;
                    color: $color-primary;
                    font-family: $font-base;
                }
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                height: 400px;
            }
        }
    }
}

@media only screen and (max-width: 700px){
    .page-about{
        padding-left: 0;

        .title{
            width: 100% !important;
            padding: 0 50px;
            box-sizing: border-box;
            // @include init-flex(column, center, center);
            justify-content: center !important;
            align-items: center !important;
            text-align: center;

            hr{
                margin-left: auto;
                margin-right: auto;
            }
        }

        .hovering-packaging{
            display: none;
        }


        .packaging-1{
            .swiper-slide{
                img{
                    width: 40vw !important;
                    height: 60vw !important;
                }
            }
        }
        
        .our-story{
            margin-bottom: 150px !important;
            .floating{
                // display: none;
                // position: fixed !;
                bottom: -100px;
                top: unset !important;
                height: auto !important;
    
                p{
                    max-height: 200px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    // word-wrap: break-word;
                }
            }
    
            .display{
                width: 100% !important;
                height: 100vw !important;
            }
        }

        .offices{
            
            .swiper-slide{
                height: auto !important;
                // width: 100% !important;
                .floating{
                    position: unset !important;
                    box-shadow: none;
                    background: none;
                    width: 100%;

                    h1{
                        font-size: 28px;
                        text-align: center;
                    }

                    p{
                        text-align: center;
                    }
                }
            }
        }
    }

}