<header class="main-layout-header" (click)="handleOutsideClick($event)">
    <img class="logo" src="../../../../../assets/images/logo.png" alt="devnasour logo" [routerLink]="['/']">
    <nav class="links d-md">
        <a [routerLink]="['/home']" [routerLinkActive]="'active'">Home</a>
        <a [routerLink]="['/projects']" [routerLinkActive]="'active'">Projects</a>
        <a [routerLink]="['/shop']" [routerLinkActive]="'active'">Shop</a>
        <a [routerLink]="['/contact']" [routerLinkActive]="'active'">Contact Us</a>
        <a [routerLink]="['/about']" [routerLinkActive]="'active'">About</a>
        <a mat-icon-button (click)="menuToggle()" id="menuToggler">Design</a>
    </nav>

    <div id="megaMenu" class="mega-menu" [class.active]="megaMenuOpen">
        <div   class="main">
            <a [routerLink]="['/template-editor/2d']" class="item">
                <div class="left">
                    <img src="assets/images/mega-menu-main.png" alt="">
                </div>
                <div class="right">
                    <div class="title">2D</div>
                    <p>Try our 2d editor</p>
                </div>
            </a>
            <a [routerLink]="['/shop/3d']" class="item">
                <div class="left">
                    <img src="assets/images/mega-menu-main.png" alt="">
                </div>
                <div class="right">
                    <div class="title">3D</div>
                    <p>Try our 3d editor</p>
                </div>
            </a>
            <a [routerLink]="['/shop/3d']" class="item">
                <div class="left">
                    <img src="assets/images/mega-menu-main.png" alt="">
                </div>
                <div class="right">
                    <div class="title">3D Products</div>
                    <p>Try our 3D designed Items</p>
                </div>
            </a>
            <a [routerLink]="['/shop/mockups']" class="item">
                <div class="left">
                    <img src="assets/images/mega-menu-main.png" alt="">
                </div>
                <div class="right">
                    <div class="title">Mockups</div>
                    <p>Checkout our 2D selection </p>
                </div>
            </a>
        </div>
        <div class="side">
            <img src="assets/images/mega-menu-side.png" alt="">
            <img src="assets/images/mega-menu-side.png" alt="">
            <img src="assets/images/mega-menu-side.png" alt="">
        </div>
    </div>


    <button [hidden]="loggedIn" class="btn secondary d-md" mat-button (click)="moveToLogin()">Account login</button>

    <div [hidden]="!loggedIn" class="logged-in-btn-group d-md">
        <button [hidden]="favoriteItemCount > 0" mat-icon-button><img src="assets/images/favourites-icon.png"/></button>
        <button
        [hidden]="!favoriteItemCount"
        [matBadge]="favoriteItemCount"
        matBadgePosition="after"
        matBadgeColor="accent"
        mat-icon-button
        [routerLink]="['/favorites']"><img src="assets/images/favourites-icon.png"/></button>

        <button [hidden]="!loggedIn" mat-icon-button [routerLink]="['/user']"><img src="assets/images/user-icon.png"/></button>

        <button [hidden]="cartItemCount > 0" mat-icon-button [routerLink]="['/cart']"><img src="assets/images/cart-icon.png"/></button>
        <button
        [hidden]="!cartItemCount"
        [matBadge]="cartItemCount"
        matBadgePosition="after"
        matBadgeColor="accent"
        mat-icon-button
        [routerLink]="['/cart']"><img src="assets/images/cart-icon.png"/></button>
    </div>

    <button mat-icon-button class="d-sm" (click)="toggleSidenav()"><img src="assets/images/sidenav-icon.png" alt="" /></button>
</header>
