<header class="main-layout-header">
    <img class="logo" src="../../../../../assets/images/logo.png" alt="devnasour logo">
    <nav>
        <a [routerLink]="['/']" [routerLinkActive]="'active'">Home</a>
        <a [routerLink]="['/projects']" [routerLinkActive]="'active'">Projects</a>
        <a routerLink="['/shop']" [routerLinkActive]="'active'">Shop</a>
        <a [routerLink]="['/contact-us']" [routerLinkActive]="'active'">Contact Us</a>
        <a [routerLink]="['/about']" [routerLinkActive]="'active'">About</a>
    </nav>
    <button class="btn secondary" mat-button (click)="moveToLogin()">Account login</button>
</header>
