app-root{
    width: 100%;
    height: 100%;
}

app-main-layout{
    width: 100%;
    height: 100%;
}

.bar-loader{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 5555;
}

.loader{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5000;
    background-color: #FAFAFA;
    color: red;

    &.active{
        display: flex;
    }
}

::ng-deep .snackbar{

    color: white !important;

    button{
        color: white !important;
    }

    &-error{
        background-color: #c9252d;
        button{
            color: white !important;
        }
    }

    &-info{
        background-color: #0d66d0;
        button{
            color: white !important;
        }
    }

    &-warn{
        background-color: #cb6f10;
        button{
            color: white !important;
        }
    }

    &-success{
        background-color: #12805c;
        button{
            color: white !important;
        }
    }
}