<div class="page-password-reset">

    <div class="inner-wrapper">
        <div class="l">
            <form [formGroup]="resetForm" (submit)="onSubmit()">
                <h1>Forgot Password?</h1>
                
                <hr/>

                <p class="mdp">Provide us with your email so
                    we can send you a reset link!</p>
    
                <mat-form-field appearance="outline" class="input">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email">
                </mat-form-field>
    
                <button mat-raised-button color="primary" >Submit</button>

                <p class="ahac">Already have a an account? <a routerLink="/login">Log in!</a></p>
            </form>
        </div>
        <div class="r">
            <img src="assets/images/register-pg.png" alt="">
        </div>
    </div>
</div>