@import "src/styles/styles.scss";

.main-layout-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 30px 50px;
  max-height: 100px;
  // box-shadow: 1px 2px 6px rgba(0, 0, 0, .20);
  position: relative;
  border-bottom: 2px solid #ebebeb;

  .mega-menu,
  .mega-menu-two {
    position: absolute;
    background-color: #fafafa;
    left: 0;
    top: 100%;
    z-index: 5000;
    width: 100%;
    // height: 300px;
    overflow: hidden;
    border-bottom: 2px solid #ebebeb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    display: none;

    &.active {
      display: flex;
    }

    .main {
      width: 70%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: space-between;
      align-content: space-between;

      .item {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        cursor: pointer;
        margin: 15px 0;

        .left {
          img {
            width: 50px;
          }
        }

        .right {
          padding-left: 20px;
          color: $color-primary;
          .title {
            font-size: 21px;
            font-weight: 600;
            margin: 5px 0;
            margin-top: 0;
          }
        }
      }
    }

    .side {
      border-left: 1px solid black;
      display: flex;
      flex-direction: column;
      padding-left: 20px;

      img {
        width: 50px;
        margin: 15px 0;
      }
    }
  }

  .logo {
    width: 140px;
    cursor: pointer;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    a {
      color: $color-primary;
      font-family: $font-medium;
      font-size: 18px;
      text-decoration: none;
      margin: 25px;

      &.active {
        color: $color-secondary;
      }
    }
  }

  .btn {
    &.secondary {
      background-color: $color-secondary;
      color: $color-white;
    }
  }

  .logged-in-btn-group {
    width: 150px;
    @include init-flex();
    button {
      width: 25px;
      height: 25px;
      margin: 0 5px;
      @include init-flex();

      img {
        width: 20px;
        height: 20px;
        object-fit: contain;
      }
    }
  }

  .d-sm {
    display: none;
  }
}
.mat-icon-button {
  width: auto;
}

.main_2 {
  display: flex;
  width: 80%;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
}

.main_2 > a {
  text-decoration: none;
}

@media only screen and (max-width: 1000px) {
  #menuToggler {
    display: none;
  }
  .d-md {
    display: none !important;
  }

  .d-sm {
    display: block !important;
  }
}
