<div class="top-nav">

  <div class="l">
    <img src="assets/images/logo.png" alt="devnasour logo" class="logo" />

    <div class="title-editor">
      <div class="display">
        <p>{{fileTitle}}.devnasour</p>
        <button mat-icon-button class="btn"><img src="assets/images/edit-icon.png" /></button>
      </div>
    </div>
  </div>

  <div class="r">

    <button mat-raised-button color="primary">Download</button>

    <div class="user-profile"><img src="assets/images/user-placeholder.png" alt="user-placeholder" /></div>
  </div>

</div>
