<div class="addresses-page">
    <div class="addresses-page-container">
        <div class="header">
            <div class="tabs">
                <button mat-flat-button [class.active]="statusFilter === 'all'" >Addresses</button>
            </div>
            <div class="actions">
    
            </div>
        </div>
    
        <main>
            <div class="table-container">
                <div class="loading-options">
                  test
                </div>
                <table mat-table [dataSource]="dataSource" class="table">
    
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="address">
                      <th mat-header-cell *matHeaderCellDef> Address </th>
                      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="options">
                      <th mat-header-cell *matHeaderCellDef> Options </th>
                      <td mat-cell *matCellDef="let element">
                          <button mat-flat-button class="address-action-button">View Address</button>
                      </td>
                    </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="6" *ngIf="processing">loading...</td>
                    </tr>
                  </table>
                
                  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                 showFirstLastButtons
                                  [pageIndex]="currentPage"
                                  [pageSize]="itemsPerPage"
                                  [length]="totalRows"
                                  (page)="getNextPage($event)"
                                 aria-label="Select page of periodic elements">
                  </mat-paginator>
            </div>
        </main>
    </div>
</div>