<div class="user-dashboard">
    <div class="w-25">
        <div class="amount-card">
            <div class="l">
                <p>Total Orders</p>
                <h1>4982</h1>
            </div>
            <div class="r">
                <mat-icon>assignment</mat-icon>
            </div>
        </div>
        <div class="amount-card">
            <div class="l">
                <p>Designs Done</p>
                <h1>4982</h1>
            </div>
            <div class="r">
                <mat-icon>class</mat-icon>
            </div>
        </div>
        <div class="amount-card">
            <div class="l">
                <p>Total Orders</p>
                <h1>4982</h1>
            </div>
            <div class="r">
                <mat-icon>exit_to_app</mat-icon>
            </div>
        </div>
    </div>
    <div class="w-50">a</div>
    <div class="w-25">a</div>
</div>